.root {
    padding: 30px;
}

.dropdowns {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.panels {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

    .body {
        flex: 1;
    }

    .footer {
        padding: 20px;
        background-color: #eee;
    }
}

.iconPanel {
    margin: 20px 0;
    padding: 20px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;

    .panelContainer {
        min-height: 500px;
        min-width: 300px;
    }

    .panel {
        min-height: 500px;
    }
}